body {
    padding: auto;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

#content_bodies_flex_container {
    display: flex;
    border: 2px solid red;
    padding: 20px;

}

#content_body {
    border: 2px solid blue;
    flex: 1;
    width: 25%;
}

#content_body {
    font-size: 30px;
    background-color: rgb(196, 196, 196);
    padding-bottom: 0%;

    display: flex;
    justify-content: space-between;
}

#content_body .main_title div {
    font-family: Helvetica, system-ui;
    font-weight: 700;
}