#background {
    background-color: bisque;
}

.image-container #banner {
    border-radius: 5px;
    background-size: 3px;
}

.author,
.steps,
.introduction,
.ingredients,
.paragraph,
.sub-title {
    font-family: system-ui, Helvetica, Arial;
}

.main-title {
    font-size: 100px;
    font-weight: 800;
    font-family: system-ui, -apple-system;
    background-color: white;
    /* -webkit-text-fill-color: beige;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black; */
}

.main-title .sub-title {
    font-size: 50px;
    font-weight: 400;
}

.sub-title {
    font-size: 30px;
    font-weight: 750;
}

.author {
    font-size: 20px;
    font-weight: 200;
    padding-left: 1mm;
}